In [26]:
import pandas as pd
import requests

In [ ]:
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=f3b92710f8a59b6d4cd618b51a55d530&language=en-US&page=1")

In [ ]:
temp_df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_count','vote_average']]

In [ ]:
temp_df.head()

In [28]:
df = pd.DataFrame()
df.shape

(0, 0)

In [29]:
for i in range(1,500):
    response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=f3b92710f8a59b6d4cd618b51a55d530&language=en-US&page={}".format(i))
    temp_df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_count','vote_average']]
    df = pd.concat([df,temp_df],ignore_index= True)

In [30]:
df.head()

,id,title,overview,release_date,popularity,vote_count,vote_average
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,171.517,27714,8.708
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,188.273,21019,8.700
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,114.381,12690,8.570
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,108.619,16140,8.600
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,72.387,8870,8.500

In [31]:
df.shape

(9969, 7)

In [32]:
df.to_csv("top_rated_movies.csv")